<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Messages</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/Tutor-Search.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">AUBoost</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="UserProfile.html">Profile</a>
							</li>
							<li>
								<a href="TutorSearch.html">Tutors</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
							<li>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										Notifications
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										  <li><a href="Requests.html">Requests</a></li>
										  <li role="presentation" class="divider"> </li>
										  <li><a href="Messages.html">Messages</a></li>
									</ul>
								</div>
							 </li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>								
								<a href="www.google.com"><span class="glyphicon glyphicon-search"></span> Search </a>
							</li>
							<li>
								<a href="Login.html">Logout</a>
							</li>
						</ul>
					</div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Inbox</p>
                <div class="list-group">
                    <a href="Messages.html" class="list-group-item">Message 1</a>
                    <a href="#" class="list-group-item">Message 2</a>
                    <a href="#" class="list-group-item">Message 3</a>
                </div>
				<p class="lead">Sent</p>
                <div class="list-group">
                    <a href="Messages2.html" class="list-group-item active">Message 1</a>
                    <a href="#" class="list-group-item">Message 2</a>
                    <a href="#" class="list-group-item">Message 3</a>
					<a href="MessageForm.html" class="list-group-item">Send a Message...</a>
                </div>
            </div>
			<!--div class="request active"-->
				<div class="col-md-9">
					<div class="thumbnail">
						<img class="img-responsive" src="http://placehold.it/800x300" alt="">
						<div class="caption-full">
							<h4 class="pull-right"></h4>
								<h4>To: <a href="#"> Kareem Salhab </a>
							</h4>
								<p> "Hello, I would like some help in Chapters 1 & 2"</p>
							<div class="text-right">
								<a class="btn btn-success"> Delete Message </a>
							</div>
						</div>
					</div>
				</div>
			<!--/div-->
        </div>
    </div>
    <!-- /.container -->

    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; AUBoost 2015</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
